% {lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{nkdist, ".*", {git, "https://github.com/Nekso/nkdist.git", {tag, "v0.1.0"}}},
	{nkpacket, ".*", {git, "https://github.com/Nekso/nkpacket.git", {tag, "v0.4.0"}}},
	{nkdocker, ".*", {git, "https://github.com/Nekso/nkdocker.git", {tag, "v0.118.2"}}},
    {eper, ".*", {git, "http://github.com/massemanet/eper.git", {branch, "master"}}}
]}.



